body{
    background-color: #f0e68c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
.img_header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img header img{
    width: 5vw;
    height: 10vh;
}

.img_header header{
    height: 15vh;
    display: flex;
    margin-left: 16px;
    justify-content: center;
    align-items: center;
}

.img_header header h1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    padding: 0 21px;
}
.galery_items {
    width: 25vw;
    height: 40vh;
    border: 10px solid #ffffff;
    box-shadow: 5px 5px 5px #000000;
    flex-grow: 1;
}

.galery_items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galery_items:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

footer{
    height: 10vh;
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    color: #000000;
}